/* This is a Body-Section Stylesheet */
.section-body-container {
  display: flex;
  margin: 25px;
  padding-bottom: 75px;
  border-bottom: 1px solid rgb(240,240,240);
}

/* Profile Image Styling */
.profile-image {
  margin-left: 230px;
  margin-top: 120px;
  width: 300px;
  height: 300px;
  object-fit: contain;
  border-radius: 150px;
  border: 1px solid rgba(240,240,240, 0.4)
}

/* Job Title Styling */
.section-title-name {
  margin-top: 100px;
  margin-left: 45px;
}
.section-title-span {
  font-size: 48px;
  letter-spacing: 4px;
  word-spacing: 20px;
}

/* Job Description Styling */
.section-title-description {
  margin-left: 45px;
  margin-top: 8px;
}
.section-description-span {
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 6px;
  word-spacing: 2px;
  font-style: italic;
}

/* Portfolio Button Styling */
.section-linkbox {
  margin-top: 30px;
  margin-left: 45px;
}
.section-link-box-portfolio {
  padding: 8px;
  border: none;
  background-color: rgb(20,189,173);
  border-radius: 4px;
  cursor: pointer;
}
.section-link-box-portfolio:hover {
  background-color: rgb(55,88,205);
  transition: 0.15s;
}
.portfolio-home-button {
  text-decoration: none;
  font-family: roboto;
  font-size: 18px;
  color: white;
  font-weight: bold;
}
.empty-box-div {
  margin-bottom: 20px;
}